body{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1,h3{
    text-align: center;
}



form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error{
    color:red;
}